.mdui-color-white,.read_more{
    background-color:  #f7a4b9 !important;
    color: #fff !important;
    font-weight: 1000;
}
.markdown-body .mdui-list-item-content,.markdown-body .mdui-text-color-black{
    color: #000 !important;
    font-weight: normal;
}
.mdui-text-color-black,.mdui-list-item-content,#toc{
    color: #fff !important;
    font-weight: bold;
}
.mdui-drawer{background-color: #ffacb793;backdrop-filter: blur(10px)}
html{
    background-image: url("/img/pink_grid.webp");
    background-color: #ffc9d4a8 !important;
    background-attachment: fixed;
}body{background: none;}
.mdui-card{
    background: #ffecf0af;
    backdrop-filter: blur(7px) brightness(110%);
}
.mdui-panel-item,code{background-color: #ffaabf1c !important;}
.avatar{backdrop-filter: blur(5px);background-color: #ffffff30;}
.md_out.markdown-body{
    font-weight: bold;
    color: #be7285;
}
.markdown-body blockquote{
    color: #d38095;
    background-color: #ffcbd84f;
    border-left: 0.25em solid #f7a4b9;
}
.mdui-card-header{color: #ff6f98;}
.mdui-card.markdown-body a{color: #ff8bac !important;}
.v .vwrap{border: 2px solid #f7a4b9;}
#totop,.vbtn,.vsys{
    background: #f7a4b9 !important;
    color: #fff !important;
}
.vnick,.vat{
    color: #058aff !important;
}
.v .vlist .vcard .vcontent.expand:before{background:linear-gradient(180deg,#ffecf000,#ffecf0af);}
.v .vlist .vcard .vcontent.expand:after{background-color: #ffecf0af;}
.mdui-chip{
    background-color: #ffbeca;
    color: #fff !important;
}
.mdui-chip-icon{
    background-color: #ffabab;
}
.mdui-menu{
    background-color: #f7a4b96b;
    color: #fff;
    font-weight: bold;
    backdrop-filter: blur(7px);
}
.mdui-menu-item:hover,.markdown-body a:hover{color: #ff8bac !important;}
.mdui-dialog{background-color: #ff92a1b7 !important;color: #fff !important;backdrop-filter: blur(7px) brightness(110%);}
.mdui-dialog-title,.mdui-dialog-content{color: #fff !important;font-weight: bold;}
.mdui-theme-accent-blue .mdui-textfield-focus .mdui-textfield-input{border-bottom-color: #fff !important;box-shadow: 1px 0 0 #fff;}
.mdui-theme-accent-blue .mdui-textfield-focus .mdui-icon{color: #fff;}
h1,h2,h3{color: #ff7d9e;}
h1 a,h2 a,h3 a{color: #ff88a5;}
.markdown-body h1,.markdown-body h2{border-bottom: 1.5px solid #f7a4b9;}
.markdown-body hr{background-color: #f7a4b9;}