.article{margin-top: 50px;}
body{font-family: Monaco,Hack,Ubuntu,"微软雅黑" !important;font-size: 17px;}
pre code,pre tt{padding: 8px;font-size: 16px;}
code.hljs.hljs-line-numbers{color: #bbb;}
#toc{
    padding-top: 1px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 1px;
    width: auto;
    line-height: 28px;
    font-size: 14px;
}
.article .mdui-chip,.article .mdui-chip-title{
    line-height: 20px;
    height: 20px;
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
}
a{text-decoration-line: none;color: #009dff;}