.mdui-color-white,.read_more{
    background-color:  #49b6ff !important;
    color: #fff !important;
    font-weight: 1000;
}
.markdown-body .mdui-list-item-content,.markdown-body .mdui-text-color-black{color: #000 !important;font-weight: normal;}
.mdui-text-color-black,.mdui-list-item-content,#toc{
    color: #fff !important;
    font-weight: bold;
}
.mdui-drawer{background-color: #30baff93;}
html{
    background-image: url("/img/blue_grid.webp");
    background-color: #d7f4ffad !important;
    background-attachment: fixed;
}body{background: none;color: #fff;}
.mdui-card{
    background: #d2f0ffb2;
    backdrop-filter: blur(3px) brightness(110%);
}
.avatar,.link-img{backdrop-filter: blur(5px);background-color: #ffffff30;}
.md_out.markdown-body{
    font-weight: bold;
    color: #43b4ff;
}
.mdui-card-header{color: #0099ff;}
.mdui-card.markdown-body a{color: #66ccff !important;}
.v .vwrap{border: 2px solid #66ccff;}
#totop,.vbtn,.vsys{
    background: #66ccff !important;
    color: #fff !important;
}
.mdui-chip{
    background-color: #76c8ff;
    color: #fff !important;
}
.mdui-chip-icon{background-color: #00aaff;}
.vnick,.vat{color: #058aff !important;}
.mdui-menu-item:hover,.markdown-body a:hover{color: #66ccff !important;}

.mdui-card-content h1{color: #329cff;}
.mdui-card-content h2{color: #48adff;}
.mdui-card-content h3{color: #31beff;}